* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}


header {
    background:white;
    color: black;
    text-align: center;
    padding: 20px;}


nav {
    background: #1e3a8a ;
    text-align: center;
    padding: 10px;}

nav a {
    color: beige;
    margin: 0 15px;
    text-decoration: none;}


section {
    padding: 70px;}


.project img {
    width: 250px;
    max-width: 100%;}

.project {
    background: #f0f4ff;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;}

form {
    max-width: 400px;
    margin: auto;}

form p {
    text-align: center;
    margin-bottom: 15px;}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px ;
    border: 1px solid black;
    border-radius: 5px;}

button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;}

button:hover {
    background: black;}


footer {
    text-align: center;
    padding: 15px;
    background: black;
    color: white;}


@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
     .project img {
        width: 100%;
    }
}
body {
  background-color: red !important;
}
